/*********************************************/
.my-container {
  border: 0px solid green;
  font-size: 2.7vw;
}

.my-row {
  border: 1px solid red;
}

.my-col {
  border: 1px dotted blue;
  background-color: #d9a577;
  text-align: center;
  padding: 3px;
  font-size: 2.1vw;
}

.podnaslovi {
  background-color: #f28c0f;
  font-size: 4vw;

}

.ekran {
  width: 30%;
  height: 35%;
  min-height: 50px;
  border: 2px solid black;
  margin: auto;
  background: lightblue;
  text-align: right;
  padding: 3px;
  margin: left;
  font-size: 4.2vw;
}


/***************************************************/

#btnIzracunaj {
  background-color: #a61b0f;
  font-size: 3vw;
  color: whitesmoke;
  cursor: pointer;
}

.peti-sesti-razred {
  margin: 5px;
  font-size: 2.5vw;
}

.my-row2 {
  margin: 5px;
  align-items: center;

}

.dropdown-menu {
  font-size: 10px;
}